.grid-container {
    display: grid;
    grid-template-columns: 20% 20% 60%;
    padding: 2em;
    grid-gap: 2em;
    justify-items: stretch;
    align-items: stretch;
}

.student{
    padding-bottom: 2em;
}

.date-input {
    padding-bottom: 2em;
}

.errors {
    grid-column-start: 3;
    grid-column-end: 4;
}


html, body {
    height: 100%;
}