.event-manager {
    grid-column-start: 1;
    grid-column-end: 3;
}

.submit-task {
    width: 32px;
    height: 32px;
    border: none;
    background: none;
    background-image: url('./plus-square.svg');
    background-size: 25px;
    background-position: bottom;
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    padding-right: 35px;
    padding-top: 35px;
}

hr.solid {
    border-top: 3px solid #bbb;
}

.delete-task {
    width: 32px;
    height: 32px;
    border: none;
    background: none;
    background-image: url('./x.svg');
    background-size: 35px;
    background-position: bottom;
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
    float: left;
    padding-right: 35px;
    padding-top: 40px;
}

.form-select { 
	width: 100%; 
	margin-bottom: 10px; 
	background-color: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}

.form-select:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

.form-control { 
	width: 100%; 
	margin-bottom: 10px; 
	background-color: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}

.form-control:focus {color: #fff; background-color: rgba(0,0,0,0.3) ; box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }
